<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jbpaladinpatriotsclock.jbpaladinpatriotsclock" version="1.7.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JbPaladinPatriotsClock</name>
    <description>This is a unique and revolutionary way of telling time, designed by Jeffrey Wayne Birge and developed by Ehllen Quezada. Our clock doesn't use hands to tell time; it uses lights to tell time.</description>
    <author email="jeffbirgepaladin@gmail.com">Jeffrey Wayne Birge (Designer/Inventor); Ehllen Quezada (Programmer/Developer)</author>
    <content src="index.html" />
    <access origin="*" /> <!-- Allows all local access -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    
<platform name="ios">
    <edit-config target="UIBackgroundModes" mode="remove" value="audio" />
    <preference name="CFBundleDisplayName" value="JbPaladinPatriotsClock" />
    
    <!-- Icons -->
    <icon src="res/icon/ios/icon-20.png" width="20" height="20" />
    <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
    <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
    <icon src="res/icon/ios/icon-29.png" width="29" height="29" />
    <icon src="res/icon/ios/icon-58.png" width="58" height="58" />
    <icon src="res/icon/ios/icon-87.png" width="87" height="87" />
    <icon src="res/icon/ios/icon-80.png" width="80" height="80" />
    <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
    <icon src="res/icon/ios/icon-120.png" width="120" height="120" />
    <icon src="res/icon/ios/icon-180.png" width="180" height="180" />
    <icon src="res/icon/ios/icon-152.png" width="152" height="152"/>
    <icon src="res/icon/ios/icon-167.png" width="167" height="167"/>
    <icon src="res/icon/ios/icon-144.png" width="144" height="144" />
    <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024" /> <!-- App Store icon -->

    <!-- Splash Screens -->
  <splash src="res/screen/ios/splash/Default@2x~universal~anyany.png" />


    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" /> <!-- Duration in milliseconds -->
    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="deployment-target" value="12.0" /> <!-- Set minimum iOS version -->

    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    
        
</platform>

    
</widget>
